# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Ion Client
Exec=electrum %u
GenericName[en_US]=Electrum-ion
GenericName=Electrum-ion
Icon=electrum
Name[en_US]=Electrum Ion Wallet
Name=Electrum Ion Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/ion;

